<div class="container">

    <h1> ¡BIENVENIDO! </h1>
    <p> Si estas aqui puede que seas *casi* tan olvidadizo como nosotros, ¡No te preocupes!, como nos conocemos a nosotros
        y a nuestros clientes, te permitimos realizar el cambio de contraseña, ¡Apúntatelo esta vez! </p>

    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

        <div class="form-group" *ngIf="!passSuccess">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
                minlength="6" maxlength="18" #password="ngModel" placeholder="Contraseña" />
            <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
                <div *ngIf="password.errors?.['required']">¡La contraseña es obligatoria!</div>
                <div *ngIf="password.errors?.['minlength']">
                    La contraseña debe tener al menos 6 caracteres
                </div>
            </div>
        </div>

        <div class="form-group" *ngIf="!passSuccess">
            <label for="password2">Contraseña</label>
            <input type="password" class="form-control" name="password2" [(ngModel)]="form.password2" required
                minlength="6" maxlength="18" #password2="ngModel" placeholder="Repetir contraseña" />
            <div class="alert alert-danger" role="alert" *ngIf="password2.errors && f.submitted">
                <div *ngIf="password2.errors?.['required']">¡La contraseña es obligatoria!</div>
                <div *ngIf="password2.errors?.['minlength']">
                    La contraseña debe tener al menos 6 caracteres
                </div>
            </div>
        </div>

        <div class="alert alert-warning" *ngIf="!passwordMatch">
            ¡Las contraseñas deben ser iguales!
        </div>

        <div class="alert alert-success" *ngIf="passSuccess">
            Tu contraseña se ha actualizado correctamente
        </div>


        <div class="form-group" *ngIf="!passSuccess">
            <button class="btn btn-danger btn-block">Cambiar mi contraseña</button>
        </div>

    </form>
</div>