<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/BulletHellGame/home" class="nav-link px-2">Principal</a></li>
          <li><a href="/BulletHellGame/our-game" class="nav-link px-2 ">Características</a></li>
          <li><a href="/BulletHellGame/requirements" class="nav-link px-2 ">Requisitos</a></li>
          <li><a href="/BulletHellGame/download" class="nav-link px-2 ">Descargar juego</a></li>
          <li><a href="/BulletHellGame/about-us" class="nav-link px-2 ">Sobre el equipo</a></li>
          <li><a href="/BuletHellGame/social-media" class="nav-link px-2 ">¡Síguenos!</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2" style="margin-right: 10px">Login</button>
          <button type="button" class="btn btn-danger">Sign-up</button>
        </div>
      </div>
    </div>
  </header>