<div *ngIf="isLoggedIn" id="contenedor" class="form">

  <form (ngSubmit)="submit()" #mailForm="ngForm">
    <div class="form-group">
      <label for="text">Asunto:</label>
      <input type="text" class="form-control" [(ngModel)]="mail.subject" name="subject" #subject="ngModel" placeholder="Indica el asunto del mensaje" required maxlength="50">      
      <div *ngIf="subject.invalid && subject.dirty" class="alert">
        <div *ngIf="subject.errors?.['required']">
          Campo requerido
        </div>
      </div>
    
    </div>

    <div class="form-group">
      <label for="text">Mensaje:</label>
      <textarea class="form-control" [(ngModel)]="mail.text" name="text" #text="ngModel" id="exampleFormControlTextarea1" placeholder="¡Escríbenos tu mensaje!" rows="3" required minlength="4"> </textarea>
      
      <div *ngIf="text.invalid && text.dirty" class="alert">
        <div *ngIf="text.errors?.['required']">
          Campo requerido
        </div>

        <div *ngIf="text.errors?.['minlength']">
          Mínimo 4 caracteres
        </div>
      </div>
   
    </div>

    <button class="btn btn-danger" type="submit" [disabled]="!mailForm.form.valid">Enviar</button>
  </form>


</div>

<app-not-permissions *ngIf="!isLoggedIn"></app-not-permissions>