<body>
    <div style="background-color: black; border-bottom: 1px solid red;">
        <br>
        <h1 style="text-align: center; padding: 5px;"> <b style="border-bottom: 2px solid red;"> Descargar e Instalar el Juego </b> </h1>
        <p style="margin: 30px; text-align:justify">¿Estás ansioso por vivir todas las aventuras que te hemos enseñado?, pues tenemos una buena noticia para ti, ¡te recordamos que este juego es totalmente <b style="color: red"> GRATUITO </b>! puedes
        jugarlo sin necesidad de realizar de meter ningún dato personal tuyo, lo único que debes hacer para descargar y jugar el juego se encuentra en este apartado, donde explicaremos
        las <b>instrucciones de instalación:</b> </p>
    </div>

    <p style="margin-left: 30px;">Haz clic en el botón de descarga para obtener el juego:</p>

    <a href="http://localhost:8080/download" download="BulletHell.zip"> 
        <button style="margin-left: 30px; margin-bottom: 30px;" class="btn btn-primary">
            Descargar juego
        </button> 
    </a>

    <p style="margin-left: 30px;">Una vez descargado, tu navegador debería indicártelo de algún modo, o en su defecto, se te habrá descargado en tu carpeta de "descargas"</p>
    <img src="assets/images/descargas1.jpg" style="height: 300px; margin-left: 30px; margin-bottom: 40px;">


    <p style="margin-left: 30px;">Ahora, lee y sigue las instrucciones a continuación para instalar el juego:</p>

    <ol style="margin-left: 30px;">
        <li>Descomprime el archivo ZIP en una ubicación deseada en tu dispositivo, puedes hacerlo en la ruta que desees, para el ejemplo <br> 
        que vamos a utilizar, lo haremos sobre la ruta "<b><i>C:\Games\</i></b>" como podemos ver en la siguiente imagen: </li>
        <img src="assets/images/paso1.jpg" style="height: 100px;">

        <li>Abre la carpeta descomprimida y arrastra todo su contenido a la carpeta deseada, también puedes hacer click derecho sobre el <br>
            archimo comprimido y seleccionar la opción "extraer todo". Ahora deberías tener los archivos del juego extraídos en tus sistema. </li>

        <img src="assets/images/paso2.jpg" style="height: 300px;">
        <img src="assets/images/paso3.jpg" style="height: 300px;">

        <li style="margin-bottom: 10px">El juego se encuentra dentro de la carpeta de archivos que se te ha generado, en este caso, el nombre del archivo es <i><b>"BulletHell.exe" </b> </i></li>

        <li style="margin-bottom: 10px">En un principio, simplemente con ejecutar ese archivo ya podrías empezar a jugar sin ningún tipo de problema.</li>

        <li style="margin-bottom: 10px">(OPCIONAL): Si quieres tener un acceso más fácil al juego, te recomendamos que crees un acceso directo al archivo de ejcución <br>
        del juego, ¡Envíalo al escritiorio para tener el juego siempre a mano! </li>

        <li>Ya puedes empezar a jugar, ¡No te olvides de disfrutar la experiencia y de compartirla con tus amigos!</li>
    </ol>

    <div style="visibility: hidden;">s</div>
</body>