body {
    background: 
 
        repeating-linear-gradient(
            45deg,
            transparent,
            transparent 10px,
            #000000 10px,
            #000000 20px
        ),
     
        linear-gradient(
            to bottom,
            #141414,
            #141414
        );
}


li:hover {
    background-color: red;    
    border: 1px solid red;
    border-radius: 5px;    
}

li {
    border: 1px solid transparent;
    
}

a {
    color: white;
}

a:hover {
    color: black;   
}

header {
    border-bottom: 1px solid red;
    background-color: rgb(30, 29, 29);
}


  