* {
    color: white;
}

body {
    background: 
 
        repeating-linear-gradient(
            45deg,
            transparent,
            transparent 10px,
            #000000 10px,
            #000000 20px
        ),
     
        linear-gradient(
            to bottom,
            #141414,
            #141414
        );
}

.encabezado {
    border-bottom: 1px solid red;
}

.card {
    width: 350px;
    background-color: rgb(153, 37, 37);
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.image img {
    transition: all 0.5s
}

.card:hover .image img {
    transform: scale(1.5)
}

.btn {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-color: white;
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 12px
}

.number {
    font-size: 22px;
    font-weight: bold
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}


.text span {
    font-size: 13px;
    color: white;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold
}



.profile {
    color: white;
}