<div class="container">

    <h1>OH OH...</h1>    
    <p>¿Te has olvidado de tu contraseña?</p>
    <div class="text-center">        
        <img src="assets/images/forgot.jpg" style="width: 300px; margin-bottom: 40px; text-align: center;">    
    </div>
    <p>¡No te preocupes!, para recuperarla solo debes indicar el email con el que te registraste, posteriormente te llegará un correo, ¡sigue sus instrucciones para definir una nueva contraseña!</p>

    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
                #email="ngModel" placeholder="Email" />
            <div class="alert alert-danger" *ngIf="email.errors && f.submitted">
                <div *ngIf="email.errors?.['required']">Email es obligatorio</div>
                <div *ngIf="email.errors?.['email']">
                    Email debe ser una dirección de email válida
                </div>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-danger btn-block">Cambiar mi contraseña</button>
        </div>
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
            Signup failed!<br />{{ errorMessage }}
        </div>
    </form>

</div>