<div class="game-system">

    <h1>Requisitos del sistema</h1>
  
    <p> ¿No sabes si tu ordenador va a ser capaz de soportar los espectaculares efectos, partículas, iluminación y gráficos de nuestro juego? ¡No te preocupes!, está tan bien optimizado y requiere tan pocos recursos que hasta una nintendo ds podría con ella. Si de todas maneras sigues con dudas sobre ello, aquí abajo te dejamos  una ficha técina del juego con los requisitos mínimos y recomendados para que puedas comprobar si tu PC puede tiene la suficiente potencia para si quiera llegar al menú principal sin explotar.</p>

    <div class="requirements">
      <div class="requirement">
        <h3>Requisitos mínimos</h3>
        <ul>
          <li> <b> Sistema operativo: </b> Windows 7/8/10 (64 bits) o macOS 10.12 Sierra</li>
          <li> <b> Procesador: </b> Intel Core i3 o equivalente</li>
          <li> <b> Memoria RAM: </b> 4 GB</li>
          <li> <b> Tarjeta gráfica: </b> Intel HD Graphics 4000 o equivalente</li>
          <li> <b> Almacenamiento: </b> 500 MB de espacio disponible</li>
          <li> <b> DirectX: </b> Versión 9.0c</li>
          <li> <b> Sonido: </b> Dispositivo de sonido compatible con DirectX</li>
        </ul>
      </div>
      

      <div class="requirement">
        <h3>Requisitos recomendados</h3>
        <ul>
          <li> <b> Sistema operativo: </b> Windows 10 (64 bits) o macOS 10.14 Mojave</li>
          <li> <b> Procesador: </b> Intel Core i5 o equivalente</li>
          <li> <b> Memoria RAM: </b> 8 GB</li>
          <li> <b> Tarjeta gráfica: </b> NVIDIA GeForce GTX 660 o equivalente</li>
          <li> <b> Almacenamiento: </b> 1 GB de espacio disponible</li>
          <li> <b>DirectX: </b> Versión 11</li>
          <li> <b> Sonido: </b> Dispositivo de sonido compatible con DirectX</li>
        </ul>
      </div>

    </div>
  </div>
  
