.game-system {    
    background: 
 
        repeating-linear-gradient(
            45deg,
            transparent,
            transparent 10px,
            #000000 10px,
            #000000 20px
        ),
     
        linear-gradient(
            to bottom,
            #141414,
            #141414
        );
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
  }
  
  h1 {
    color: #ff0000;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .requirements {
    display: flex;
    justify-content: space-between;
  }
  
  .requirement {
    flex: 1;
    margin-right: 20px;
    border: 2px solid red;
    border-radius: 4px;
    background-color: black;
    padding: 20px;
  }
  
  h3 {
    color: #ff0000;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  .dark-mode {
    background-color: #1c1c1c;
    color: #c3c3c3;
  }
  
  .dark-mode h2,
  .dark-mode h3 {
    color: #ff0000;
  }

  p {
    text-align: justify;
    margin-bottom: 20px;
    background-color: #141414;
  }
  