<body>

    <div class="redes-sociales">
        <h1>¡Síguenos en redes sociales!:</h1>
        <div class="redes-sociales-container">
        <a href="https://www.instagram.com/bullethellgame" class="red-social-link" target="_blank">
            <img src="/assets/images/instagram.jpg" alt="Instagram">
            Instagram
        </a>
        <a href="https://twitter.com/bullethellgame" class="red-social-link" target="_blank">
            <img src="/assets/images/twitter.png" alt="Twitter">
            Twitter
        </a>
        <a href="https://www.facebook.com/bullethellgame" class="red-social-link" target="_blank">
            <img src="/assets/images/facebook.jpg" alt="Facebook">
            Facebook
        </a>
        <a href="https://www.youtube.com/c/bullethellgame" class="red-social-link" target="_blank">
            <img src="/assets/images/youtube.png" alt="YouTube">
            YouTube
        </a>
        <a href="https://www.reddit.com/r/bullethellgame" class="red-social-link" target="_blank">
            <img src="/assets/images/reddit.png" alt="Reddit">
            Reddit
        </a>
        </div>
        <p class="follow-text">¡Sigue a nuestro equipo en las redes sociales para obtener las últimas noticias, actualizaciones y contenido exclusivo de BulletHellGame! Tu apoyo es muy importante para nosotros.</p>
        <div class="additional-content">
        <h2>¡Encuentra en ellas mucho contenido adicional!</h2>
        <p>En nuestras redes sociales encontrarás:</p>
        <ul>
            <li>Avances exclusivos del juego</li>
            <li>Entrevistas con los desarrolladores</li>
            <li>Tutoriales y consejos de juego</li>
            <li>Sorteos y premios especiales</li>
            <li>Comentarios de la comunidad</li>
        </ul>
        </div>
    </div>
  
    <div style="visibility: hidden;">s</div>

</body>